extends layout
 
block content
  if error
    .alert.alert-danger
      strong #{error.name}: #{error.message}
      
  h1 Add Contact
  form(role='form' action='/methods/createContact' method='post' id='createContactForm')
    label(for='name') Name
    input#name.form-control(placeholder='Name', type='text', name='name')
    br
    label(for='email') Email address
    input#email.form-control(placeholder='Email', type='text', name='email')
    br
    button.btn.btn-default(type='submit') Add Contact
    a(href='/' class='btn btn-danger') Back