extends layout
 
block content
  h1
    | Emailr 
    span.glyphicon.glyphicon-envelope
  br
  if error
    .alert.alert-danger
      strong #{error.name}: #{error.message}
  form(role='form' action='/login' method='post' id='loginForm')
    label(for='email') Email address
    input#email.form-control(placeholder='Enter email', name='email')
    br
    label(for='password') Password
    input#password.form-control(type='password', placeholder='Password (must be the same password used to login to email provided)',name='password')
    br
    button.btn.btn-default(type='submit') Log In
  br
  a(href='/signup') No account? Sign up! 