extends layout
 
block content
  h1 Sign Up
  div.top
    form.form-horizontal(action='/signup' method="post", id="signupForm")
      label Name
      input.span3(id="name", type="text", name="name")
      label Email
      input.span3(id="email", type="text", name="email")
      label Password
      input.span3(id="password", type="password", name="password")
      input.btn(type="submit", value="Sign Up")
    a(href='/' class='btn btn-danger') Back
  div.footer


