extends layout
 
block content
  h1 Sign Up
  if error
    .alert.alert-danger
      strong Error: #{error}

  form(role='form' action='/signup' method='post' id='singupForm')
    label(for='name') Name
    input#name.form-control(placeholder='Name', type='text', name='name')
    br
    label(for='email') Email address
    input#email.form-control(placeholder='Enter email', name='email')
    br
    label(for='password') Password
    input#password.form-control(type='password', placeholder='Password',name='password')
    br
    button.btn.btn-default(type='submit') Sign Up
    a(href='/' class='btn btn-danger') Back